body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

/* font-family: 'Playfair Display', serif; */
/* font-family: 'Prata', serif; */

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #1B1A17;
    margin-bottom: 39px;
}

.btn {
    padding: 26px 38px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

/* HEADER */

.header {
    background: #FDFDFB;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85px;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    gap: 65px;
}

.header__menu-item {
    font-size: 14px;
    line-height: 16px;
}

.header__menu-link {
    color: #555248;
    text-decoration: none;
}

.header__btn-box {
    display: flex;
    justify-content: space-between;
    gap: 23px;
}

.favourites,
.cart {
    position: relative;
}

.favourites::before,
.cart::before {
    position: absolute;
    content: "1";
    font-size: 8px;
    line-height: 13px;
    text-align: center;
    color: #1B1A17;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #E6C8B4;
    top: -5px;
    right: -8px;
}

/* PROMO */

.promo {
    background: #FDFDFB;
}

.promo__inner {
    display: flex;
    justify-content: space-between;
}

.promo__info {
    padding-top: 236px;
    padding-left: 87px;
    position: relative;
    z-index: 1;
}

.promo__collection {
    position: relative;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    color: #1B1A17;
    margin-bottom: 16px;
}

.promo__collection::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #8B8371;
    left: -65px;
    top: 36px;
}

.promo__title {
    font-size: 30px;
    line-height: 40px;
}

.promo__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: rgba(27, 26, 23, 0.82);
    margin-bottom: 40px;
    max-width: 210px;
}

.promo__btn {
    background: #444240;
}

.promo__item {
    position: relative;
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1B1A17;
    flex-basis: 664px;
    text-align: center;
    z-index: 0;
    margin-right: 20px;
}

.promo__item::before {
    position: absolute;
    content: url(../img/promo-decor.svg);
    left: -114px;
    top: 7px;
    z-index: -1;
}

.promo__item-price {
    position: absolute;
    top: 134px;
}

.promo__item-price::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #8B8371;
    top: calc(50% - 1px);
    right: -70px;
}

.promo__item-img {
    max-height: 780px;
}

.promo__item-fact {
    position: absolute;
    right: 0;
    bottom: 113px;
}

.promo__item-fact::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #8B8371;
    top: calc(50% - 1px);
    left: -70px;
}

/* POPULAR */

.popular {
    margin-top: 75px;
    margin-bottom: 85px;
}

.popular__title {
    text-align: center;
    margin-bottom: 0;
}

.popular__link {
    display: block;
    max-width: 110px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #444240;
    border-bottom: 1px solid #C4C0B6;
    padding-bottom: 10px;
    margin-left: auto;
}
.popular__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.popular__item {
    padding: 40px 26px;
    max-width: 370px;
}
.popular__item-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(27, 26, 23, 0.82);
    margin-bottom: 10px;
}
.popular__item-price {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(27, 26, 23, 0.82);
}
.popular__item-img-box {
    background: 
      linear-gradient(#fff 0 0) padding-box, /*this is your grey background*/
      linear-gradient(to right, transparent, #E2D0C4) border-box;
    border: 1px solid transparent;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
  }

.popular__item-link {
    display: block;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1B1A17;
    padding-left: 88px;
    text-decoration: none;
    position: relative;
}

.popular__item-link::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 1px;
    background-color: #8B8371;
    top: calc(50% - 1px);
    left: 38px;
    cursor: default;
}

/* FEATURES */

.features {
    background: url(../img/feat-decor.svg) top right;
    background-size: cover;
    margin-bottom: 81px;
}

.features__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 21px;
}

.features__gallery {
    display: flex;
    flex-direction: column;
}

.features__gallery-controls {
    margin-top: 20px;
    margin-right: 84px;
    align-self: flex-end;
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(27, 26, 23, 0.82);
    position: relative;
}

.features__gallery-controls::before {
    cursor: pointer;
    content: "\276E";
    padding-right: 15px;
    padding-left: 5px;
}

.features__gallery-controls::after {
    cursor: pointer;
    content: "\276F";
    padding-left: 15px;
    padding-right: 5px;
}

.features__info {
    padding-left: 70px;
}

.features__info-title {
    margin-bottom: 38px;
}

.features__info-text {
    line-height: 24px;
    color: #444240;
    margin-bottom: 45px;
    max-width: 376px;
}

.features__info-btn {
    display: inline-block;
    background: #D4B098;
}

/* NEWS */
.news {
    margin-bottom: 90px;
}

.news__inner {
    display: flex;
    justify-content: space-between;
}

.news__info {
    margin-top: 140px;
    margin-right: auto;
    max-width: 471px;
}

.news__info-title {
    margin-bottom: 40px;
}

.news__info-text {
    margin-bottom: 120px;
    color: #444240;
    max-width: 376px;
}

.news__info-text strong {
    font-weight: 700;
    color: #262421;
}

.news__info-social-box {
    display: flex;
    align-items: center;
    gap: 18px;
}

.news__gallery {
    height: 460px;
    width: 629px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.news__gallery-img:nth-child(1) {
    max-width: 242px;
    max-height: 228px;
    object-fit: cover;
}

.news__gallery-img:nth-child(2) {
    max-width: 242px;
    max-height: 222px;
    object-fit: cover;
}

.news__gallery-img:nth-child(3) {
    flex-grow: 1;
    max-width: 377px;
    max-height: 460px;
    object-fit: cover;
}
